@mixin grid-xs {
  @media screen and (max-width: $xs) {
    @content;
  }
}

@mixin grid-sm {
  @media screen and (min-width: $sm) {
    @content;
  }
}

@mixin grid-md {
  @media screen and (min-width: $md) {
    @content;
  }
}

@mixin grid-lg {
  @media screen and (min-width: $lg) {
    @content;
  }
}

@mixin grid-xl {
  @media screen and (min-width: $xl) {
    @content;
  }
}

@mixin grid-xll {
  @media screen and (min-width: $xll) {
    @content;
  }
}

@mixin fadeInAnimation($duration: 500ms, $fillMode: forwards, $delay: 0) {
	opacity: 0;
	animation-name: fadein;
	animation-duration: $duration;
	animation-fill-mode: $fillMode;
	animation-delay: $delay;
}

@keyframes fadein {
	from {
		opacity: 0
	}
	to {
		opacity: 1;
	}
}

