{{>partials/header}}
{{>partials/menu}}
{{>partials/banner}}
<section>
	<h1 class="text-center p-5 px-2">Todos os {{#animal}} {{ . }} {{/animal}} {{^animal}}animais{{/animal}} para doação.</h1>
	<div class="container">
		<div class="row">
			{{>partials/list}}
		</div>
	</div>
</section>
<button class="btn btn-primary mb-3"> dsfds</button>
{{>partials/footer}}
